/*===========样式初始化============*/
html {
    font-size: 62.5%;
}

body {
    background: #fff;
    color: #555;
    font-family: "微软雅黑";
    height: 9000px;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, button, input, th, td {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

a {
    color: #555;
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

/*=========返回顶部按钮========*/
#back-to-top {
    width: 64px;
    position: fixed;
    display: none;
    text-align: center;
    text-decoration: none;
    color: #bdbdbd;
    cursor:pointer;
    bottom: 10rem;
    right: 8rem;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
}

#back-to-top:hover {
    color: #979797;
}

#back-to-top span {
    display: block;
    height: 64px;
    background: transparent url(../images/BACKTOTOP.png) no-repeat center;
    border-radius: 6px;
    margin-bottom: 5px;
    /*使用CSS3中的transition属性给背景添加渐变效果*/
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
}

header{
    width: 100%;
}